<style>
    #btnIncluirBeneficiario {
        margin-top: 25px;
        padding-right: 22px;
        width: 50%;
        text-align: center;
        margin-left: 30%;
    }

    #nomeBeneficiario {
        width: 130%;
    }
</style>

<div class="modal fade" id="beneficiariosModal" tabindex="-1" aria-labelledby="beneficiariosModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Beneficiários</h4>
            </div>
            <div class="modal-body">
                <form id="beneficiarioForm">
                    <div class="row">
                        <div class="col-md-4">
                            <label for=" CPF" class="form-label">CPF:</label>
                            <input type="text" class="form-control" id="cpfBeneficiario" placeholder="Ex.: 010.011.111-00">
                        </div>
                        <div class="col-md-4">
                            <label for="Nome" class="form-label">Nome:</label>
                            <input type="text" class="form-control" id="nomeBeneficiario" placeholder="Ex.: Maria">
                        </div>
                        <div class="col-md-4">
                            <button type="button" id="btnIncluirBeneficiario" class="btn btn-success" onclick="incluirBeneficiario()">Incluir</button>
                        </div>
                    </div>
                </form>

                <hr>

                <table class="table">
                    <thead>
                        <tr>
                            <th>CPF</th>
                            <th>Nome</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody id="beneficiariosList">
                        <!-- Lista de beneficiários será inserida aqui dinamicamente -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

